// app global css in SCSS form
html{
  font-size: 625%;
}
.no-ma-p{
  margin-bottom: 0;
}
.font-12{font-size: .12rem;}
.font-14{font-size: .14rem;}
.font-15{font-size: .15rem;}
.font-16{font-size: .16rem;}
.font-18{font-size: .18rem;}
.font-20{font-size: .2rem;}
.font-22{font-size: .22rem;}
.font-24{font-size: .24rem;}
.font-26{font-size: .26rem;}
.font-28{font-size: .27rem;}
.font-30{font-size: .3rem;}
.flex-row{display: flex;flex-direction: row;}
.flex-row-reverse{display: flex;flex-direction: row-reverse;}
.flex-col{display: flex;flex-direction: column;}
.flex-col-reverse{display: flex;flex-direction: column-reverse;}
.flex-jst-start{justify-content: flex-start;}
.flex-jst-end{justify-content: flex-end;}
.flex-jst-center{justify-content: center;}
.flex-jst-btw{justify-content: space-between;}
.flex-jst-ard{justify-content: space-around;}
.flex-ali-start{align-items: flex-start;}
.flex-ali-end{align-items: flex-end;}
.flex-ali-center{align-items: center;}
.flex-ali-base{align-items: baseline;}
.flex-ali-stretch{align-items: stretch;}
.self-stretch{align-self: stretch;}
.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}
.text-sj{color: rgba(255,255,255,.8);text-shadow: aliceblue;}
.width-10{width: 10%;}
.width-20{width: 20%;}
.width-30{width: 30%;}
.width-40{width: 40%;}
.width-50{
  width: 50%;
}
.width-60{
  width: 60%;
}
.width-80{width: 80%;}
.ma-row-md{
  margin-top: 16px;
  margin-bottom: 16px;
}
.full-page{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &.scroll-allow{
    overflow-y: scroll;
  }
}
.page-hidden{
  overflow: hidden;
}
.ani-delay-05s{animation-delay: 0.5s}
.ani-delay-1s{
  animation-delay: 1s;
}
.ani-delay-15s{
  animation-delay: 1.5s;
}
.ani-delay-2s{
  animation-delay: 2s;
}
.ani-delay-25s{
  animation-delay: 2.5s;
}
.ani-delay-3s{
  animation-delay: 3s;
}
.ani-delay-35s{animation-delay: 3.5s}
.ani-delay-4s{
  animation-delay: 4s;
}
.ani-delay-45s{
  animation-delay: 4.5s;
}
.ani-delay-5s{
  animation-delay: 5s;
}
.ani-delay-55s{
  animation-delay: 5.5s;
}
.ani-duration-02s{
  animation-duration: 0.2s;
}
.ani-duration-05s{
  animation-duration: 0.5s;
}
.ani-duration-1s{
  animation-duration: 1s;
}
.ani-duration-15s{
  animation-duration: 1.5s;
}
.ani-duration-2s{
  animation-duration: 2s;
}
.ani-duration-4s{
  animation-duration: 4s;
}
// 防止点击图片阻碍页面切换
.click-content{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: transparent;
}
//cus-ani
.cus-ani-fadeIn{
  animation-name: cusAniFadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes cusAniFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cus-ani-zoomIn{
  animation-name: cusAniZoomIn;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes cusAniZoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.cus-ani-slideLeftIn{
  opacity: 0;
  animation-name: cusAniSlideLeftIn;
  animation-fill-mode: forwards;
}
@keyframes cusAniSlideLeftIn {
  from {
    transform: translate(-50%,0);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.cus-ani-slideRightIn{
  opacity: 0;
  animation-name: cusAniSlideRightIn;
  animation-fill-mode: forwards;
}
@keyframes cusAniSlideRightIn {
  from {
    transform: translate(50%,0);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.cus-ani-slideTopIn{
  opacity: 0;
  animation-name: cusAniSlideTopIn;
  animation-fill-mode: forwards;
}
@keyframes cusAniSlideTopIn {
  from {
    transform: translate(0,-50%);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.cus-ani-slideBottomIn{
  opacity: 0;
  animation-name: cusAniSlideBottomIn;
  animation-fill-mode: forwards;
}
@keyframes cusAniSlideBottomIn {
  from {
    transform: translate(0,50%);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.cus-ani-rotateIn{
  opacity: 0;
  animation-name: cusAniRotateIn;
  animation-fill-mode: forwards;
}
@keyframes cusAniRotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.cus-ani-bounceIn{
  opacity: 0;
  animation-name: cusAniBounceIn;
  animation-fill-mode: forwards;
}
@keyframes cusAniBounceIn {
  0% {
    transform: scale(.7);
  }
  25% {
    transform: scale(.9);
    opacity: .5;
  }
  75% {
    transform: scale(.6);
    opacity: .75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.cus-ani-slideLoop{
  animation-name: cusAniSlideLoop;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes cusAniSlideLoop {
  0% {
    transform: translate(0, 0);
  }
  25%{
    transform: translate(-5%, 0);
  }
  50%{
    transform: translate(0, 0);
  }
  75%{
    transform: translate(5%, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}
.cus-ani-rotateX{
  opacity: 0;
  animation-name: cusAniRotateX;
  animation-fill-mode: forwards;
}
@keyframes cusAniRotateX {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
.cus-ani-scaleLoop{
  animation-name: cusAniScaleLoop;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes cusAniScaleLoop {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1.2);
  }
  75%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
.cus-ani-breath{
  animation-name: cusAniBreath;
  animation-timing-function: ease-out;
}
.breath-loop{
  animation-iteration-count: infinite;
}
@keyframes cusAniBreath {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
// 横向缩放
.cus-ani-scaleX{
  opacity: 0;
  animation-name: cusAniScaleX;
  animation-fill-mode: forwards;
}
@keyframes cusAniScaleX {
  from {
    transform: scaleX(.5);
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
// 摇摆
.cus-ani-shakeLoop{
  animation-name: cusAniShakeLoop;
  animation-timing-function: linear;
  transform-origin: 50% 0;
  animation-iteration-count: infinite;
}
@keyframes cusAniShakeLoop {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-6deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.msg-ani{
  animation: 3s linear 0s infinite normal backwards running cusAniMsgIcon;
}
@keyframes cusAniMsgIcon {
  0%{
    transform: scale3d(1, 1, 1);
  }
  10%{
    transform: scale3d(1.25, 0.75, 1);
  }
  13% {
    transform: scale3d(0.75, 1.25, 1);
  }
  17%{
    transform: scale3d(1.15, 0.85, 1);
  }
  22%{
    transform: scale3d(.95, 1.05, 1);
  }
  25%{
    transform: scale3d(1.05, .95, 1);
  }
  30%{
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
